<div class="grid grid-nogutter justify-content-center">
  <div class="col-12 lg:col-5">
      <app-post-image
          (clickImage)="clickImage($event)"
          [imagesUrl]="data" 
          [imageOptions]="imageOptions">
      </app-post-image>
  </div>

  <div style="background-color: grey;" class="col-12 lg:col-3">
      <span class="text-white">Side</span>
  </div>
</div>


<p-galleria [value]="data" [visible]="previewImage" 
    (visibleChange)="onCloseImagePreview()"  
    [containerStyle]="{ 'max-width': '50%' }" 
    [numVisible]="3" [circular]="true" 
    [fullScreen]="true" 
    [activeIndex]="activeImagePreview"
    [showItemNavigators]="true">
    <ng-template pTemplate="item" let-item>
        <img [src]="item" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item" style="display: block;" width="100" height="100"/>
        </div>
    </ng-template>
</p-galleria>